<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>

    <!--li><a href="/downloads/">Downloads</a></li-->

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roland <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/roland/adding_pads">Adding pads to Roland TD-12 and TD-20</a></li>
        <li><a href="/roland/dynamic">Dynamic</a></li>
        <li><a href="/roland/trigger_settings">Trigger Settings</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">DIY <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/diy/cymbal_piezo">Cymbal (2 and 3 Zones) using piezos</a></li>
        <li><a href="/diy/cymbal_switch">Cymbal (2 and 3 Zones) using switches</a></li>
        <li><a href="/diy/hihat">HiHat using FSR sensor</a></li>
        <li><a href="/diy/keith_pp_2_ps">Keith Raper's Piezo/Piezo to Piezo/Switch Adapter</a></li>
        <li><a href="/diy/mesh_heads">Mesh heads</a></li>
        <li><a href="/diy/octobans">Octobans</a></li>
        <li><a href="/diy/piezo_wiring">Piezo Wiring</a></li>
        <li><a href="/diy/splash">Splash</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">microDrum <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/microdrum/home">Home</a></li>
        <li><a href="/microdrum/about">About</a></li>
        <li><a href="/microdrum/build">Build v0.4</a></li>
        <li><a href="/microdrum/appstore">AppStore</a></li>
        <li><a href="/microdrum/setup">Setup</a></li>
        <li><a href="/microdrum/software">Software</a></li>
        <li><a href="/microdrum/parts">Parts list v0.7</a></li>
        <li><a href="/microdrum/parts_v0.8">Parts list v0.8</a></li>
        <li><a href="/microdrum/pcb">PCB v0.7</a></li>
        <li><a href="/microdrum/faq">FAQ</a></li>
        <li><a href="/microdrum/teensy">TeensyDrum</a></li>
        <li><a href="/microdrum/downloads">Downloads</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archlinux <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/archlinux/realtime">Realtime</a></li>
        <li><a href="/archlinux/services">Services</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Linuxsampler <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/linuxsampler/sfz">SFZ</a></li>
        <li><a href="/linuxsampler/docs">Docs</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">SamplerBox <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/samplerbox/home">Home</a></li>
        <li><a href="/samplerbox/build">Build</a></li>
        <li><a href="/samplerbox/faq">FAQ</a></li>
      </ul>
    </li>
  </ul>

  <form class="navbar-form navbar-right" role="search" action="/search/">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" name="q">
    </div>
  </form>
</div>
