{% assign search_txt = "Search this website:" %}
{% assign search_btn = "Search" %}
{% if page.lang == "it" %}
    {% assign search_txt = "Cerca in questo sito:" %}
    {% assign search_btn = "Cerca" %}
{% endif %}

<div class="row" style="margin-top: 1.5em; margin-bottom: 1.5em;">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="text-center">{{ search_txt }}</p>
    <form class="form-search" role="search" action="/{{ page.lang }}/search/">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control searchbox" name="q">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">{{ search_btn }}</button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="reset-box-sizing">
  <div id="searchresults" class="gcse-searchresults-only" data-enableHistory="true"></div>
</div>
