		<script>
			var base_url	= {{ base_url | tojson }},
					shortcuts = {{ config.theme.shortcuts | tojson }};
		</script>
		<script src="{{ 'assets/js/base.js'|url }}" defer></script>
		<script src="{{ '/assets/js/scripts.min.js'|url }}" defer></script>
		{%- for path in extra_javascript %}
		<script src="{{ path }}" defer></script>
		{%- endfor %}
		{%- for script in page.meta.scripts %}
		<script src="{{ ['/assets/js/', script, '.js']|join|url }}" defer></script>
		{%- endfor %}
		{%- include "partials/custom-scripts.html" %}
		<script>
			anchors.options.placement = 'left';
			anchors.add();
		</script>
